.vscode/
.cache/
build/
stuff/
thesis/chapters/out/
*.protected.pdf
figures/results/**/*.eps
*.extra.eps
*.extra.pdf
*.todo

thesis/tikz/**/*.dpth
thesis/tikz/**/*.md5
presentation/tikz/**/*.dpth
presentation/tikz/**/*.md5

*.[oa]
*~
*.aux
*.auxlock
*.log
*.idx
*.out
*.toc
*.synctex.gz
*(busy)
*.fdb_latexmk
*.fls
*.ilg
*.ind
_minted-*
*.bbl
*.bcf
*.blg
*.lof
*.lot
*.run.xml
*.nav
*.snm
*.def
*.thm
*.corollary
*.lemma
*.remark
*.pyg
